<%- include("parts/head"); %>

<link rel="stylesheet" href="/styles/index.css">
<main>
    <section class="cover">
        <img class="splash" src="/img/bg.jpg">
        <div class="fade"></div>
        <h2>Cannabis Product Diary</h2>
        <p>
            Cannabis affects everyone differently.<br><br>
            
            Cannabis Product Diary focuses on you.
        </p>
        <div id="scrollPast" onclick="scrollPastCover()">&#8650;</div>
    </section>

    <section class="examples">
        <p>
            Record your personal experiences with your specific products to 
            become more informed about how cannabis affects your body.
        </p>
        <img src="/img/phone_ss.png">
    </section>

    <section class="examples invert">
        <p>
            Remember where you bought that crazy infused joint or 
            avoid strains with negative effects.
        </p>
        <img src="/img/monitor.png">
    </section>

    <section class="examples">
        <p>
            Ready to write? Create a free account and start today!
        </p>
        <p>
            <a href="/user/login">Login</a> | <a href="/user/register">Register</a>
        </p>
    </section>
</main>

<footer>
    <p>Made by </p><a href="https://www.linkedin.com/in/wyatt-sushinsky/">Wyatt Sushinsky</a>
</footer>

<script>
    const scrollPastCover = function scrollPastCover() {
        $('html,body').animate({
            scrollTop: $('.examples').offset().top - 64
        },'slow');
    }    
</script>

<%- include("parts/foot"); %>