<%- include("parts/head"); %>

<main>
    <section class="gallery">

    </section>
    <section class="side">

    </section>
    <section class="button-holder">
        <button id="accept"><i class="fas fa-check"></i></button>
        <button id="cancel"><i class="fas fa-times"></i></button>
        <button id="new"><i class="fas fa-plus"></i></button>
    </section>
</main>

<%- include("parts/foot"); %>