<%- include("parts/head"); %>

<main>
    <section class="gallery">
        <h2>Entries</h2>
        <div class="entry-grid">
            <article class="entry-card">
                <h3>Purple Gayze</h3>
                <h4>Krunk Kanna</h4>
                <div class="rating">
                    <i class="fas fa-cannabis selected"></i>
                    <i class="fas fa-cannabis selected"></i>
                    <i class="fas fa-cannabis selected"></i>
                    <i class="fas fa-cannabis"></i>
                    <i class="fas fa-cannabis"></i>
                </div>
            </article>
        </div>
    </section>
    <section class="side">
        <form action="#" method="post">
            <h2>New Entry</h2>
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="content" placeholder="Describe your experience here.">
        </form>
    </section>
    <section class="button-holder">
        <button id="accept"><i class="fas fa-check"></i></button>
        <button id="cancel"><i class="fas fa-times"></i></button>
        <button id="new"><i class="fas fa-plus"></i></button>
    </section>
</main>

<%- include("parts/foot"); %>