<%- include("parts/head"); %>

<main>
    <section class="gallery">
        <h2>Entries</h2>
    </section>
    <section class="side">
        <form action="#" method="post">
            <h2>New Entry</h2>
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="content" placeholder="Describe your experience here.">
        </form>
    </section>
    <section class="button-holder">
        <button id="accept"><i class="fas fa-check"></i></button>
        <button id="cancel"><i class="fas fa-times"></i></button>
        <button id="new"><i class="fas fa-plus"></i></button>
    </section>
</main>

<%- include("parts/foot"); %>