<%- include("parts/head"); %>

<main class="center-form">
    <img class="splash" src="/img/bg.jpg">
    <div class="fade"></div>
    <form action="/user/login" method="POST" class="auth-form">
        <h2>Login</h2>
        <input type="email" name="email" required>
        <input type="password" name="password" required>
        <button>Login</button>
        <p style="color: <%= color %>;"><%= info %></p>
        
        <p>Click <a href="/user/reset">HERE</a> to change your password.</p>
    </form>
</main>

<%- include("parts/foot"); %>