<%- include("parts/head"); %>

<main class="lost">
    <h2>Error: This page does not exist!</h2>
    <hr>
    <br>
    <a href="/">Click Here to Return to Your Diary</a>
</main>

<%- include("parts/foot"); %>