<%- include("parts/head"); %>

<main class="center-form">
    <img class="splash" src="/img/bg.jpg">
    <div class="fade"></div>

    <form action="/user/register" method="POST" class="auth-form">
        <h2>Register an Account</h2>
        <input type="email" name="email" placeholder="Type Your Email Here" required>
        <input type="password" name="password" placeholder="Type Your Password Here" minlength="8" required>
        <input type="password" name="confirmation" placeholder="Type Your Password Here Again" minlength="8" required>
        <p>Your password must be at least 8 characters long and contain letters, numbers or special characters ( !@#$%^&* ).</p>
        <button>Register</button>
        <p style="color: <%= color %>;"><%= info %></p>
    </form>
</main>

<%- include("parts/foot"); %>