<%- include("parts/head"); %>

<main>
    <div>
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="password" name="confirmation">
        <button>Register</button>
    </div>
</main>

<%- include("parts/foot"); %>