<%- include("parts/head"); %>

<main class="center-form">
    <img class="splash" src="/img/bg.jpg">
    <div class="fade"></div>

    <p>A password reset link has been sent to your email.</p>
    <br>
    <p>Check your spam folder if you don't recieve the email in a few minutes.</p>
    <br>
    <a href="/user/login">Back to Login</a>
</main>

<%- include("parts/foot"); %>