<%- include("parts/head"); %>

<main class="center-form">
    <img class="splash" src="/img/bg.jpg">
    <div class="fade"></div>
    
    <p>Your password has been reset.</p>
    <br>
    <a href="/user/login">Back to Login</a>
</main>

<%- include("parts/foot"); %>