<%- include("parts/head"); %>

<main>
    <h2>Account Settings</h2>
    <hr>

    <form action="/user?_method=DELETE" method="POST" class="delete-account">
        <input class="hover-bad" type="submit" value="Delete Account">
    </form>
</main>

<%- include("parts/foot"); %>