<div class="create-form invisible">
    <div class="entry-line">
        <div class="edit">
            <h2 class="left">Title: </h2>
            <input class="right" type="text" name="title" id="title-edit" placeholder="Unnamed Entry">
            <hr>

            <h3 class="left">Product: </h3>
            <input class="right" type="text" name="product" id="product-edit" placeholder="Product Name">

            <h3 class="left">Rating: </h3>
            <div class="rating right" id="rating-edit">
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
            </div>

            <h3 class="left">Content: </h3>
            <input class="right" type="text" name="content" id="content-edit" 
                placeholder="Write about your experience here.">
        </div>
    </div>

    <p id="create-form-info"></p>

    <!-- hidden -->
    <input type="hidden" id="author-edit" value="<%= user %>">

    <!-- not yet implemented -->
    <!-- required -->
    <input type="hidden" id="isDraft" value="false">
    <input type="hidden" id="isPublic" value="false">

    <!-- optional -->
    <input type="hidden" id="color" value="">
    <input type="hidden" id="dateOfExperience" value="">
    <input type="hidden" id="timeOfDay" value="">
    <input type="hidden" id="productType" value="">
    <input type="hidden" id="duration" value="">
    <input type="hidden" id="quantity" value="">
    <input type="hidden" id="quantityType" value="">
    <input type="hidden" id="portionSize" value="">
    <input type="hidden" id="portionSizeType" value="">
    <input type="hidden" id="price" value="">
    <input type="hidden" id="company" value="">
    <input type="hidden" id="store" value="">
    <input type="hidden" id="city" value="">
    <input type="hidden" id="state" value="">
    <input type="hidden" id="country" value="">
    <input type="hidden" id="strainType" value="">
    <input type="hidden" id="strains" value="">
    <input type="hidden" id="thc" value="">
    <input type="hidden" id="thca" value="">
    <input type="hidden" id="d8thc" value="">
    <input type="hidden" id="d9thc" value="">
    <input type="hidden" id="cbd" value="">
    <input type="hidden" id="cbg" value="">
</div>