<% for (let i = 0; i < entries.length; i++) { %>

    <article class="entry-card">
        <h3><%= entries[i].title %></h3>
        <h4><%= entries[i].company %></h4>
        <hr>

        <div class="rating">
            <% for (let i = 1; i < entries.rating; i++) { %>
                <i class="fas fa-cannabis selected"></i>
            <% } %>

            <% for (let i = 1; i < entries.rating; i++) { %>
                <i class="fas fa-cannabis"></i>
            <% } %>
        </div>
    </article>

<% } %>