<div class="entry-view invisible">
    <div class="entry-line">
        <h6 id="author-read">Author: Author's Name</h6>

        <div class="read">
            <h2 id="title-read">Entry Name</h2>

            <hr>

            <h3 class="left">Product: </h3>
            <h3 class="right" id="product-read">Product Name</h3>

            <h3 class="left">Rating: </h3>
            <div class="rating right" id="rating-read">
    
            </div>

            <h3 class="left">Date of Experience: </h3>
            <h3 class="right" id="date-read"></h3>

            <h3 class="left">Content: </h3>
            <p class="right" id="content-read"></p>

            <h3 class="left">Visibility: </h3>
            <h3 class="right" id="public-read"></h3>
        </div>

        <div class="edit invisible">
            <h2 class="left">Title: </h2>
            <input class="right" type="text" name="title" id="title-edit" placeholder="Unnamed Entry">
            <hr>

            <h3 class="left">Product: </h3>
            <input class="right" type="text" name="product" id="product-edit" placeholder="Product Name">

            <h3 class="left">Rating: </h3>
            <div class="rating right" id="rating-edit">
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
            </div>

            <h3 class="left">Date of Experience: </h3>
            <input class="right" type="date" name="dateOfExperience" id="date-edit" placeholder="Date of Experience">

            <h3 class="left">Content: </h3>
            <input class="right" type="text" name="content" id="content-edit" placeholder="Write about your experience here.">
        
            <h3 class="left">Public: </h3>
            <input class="right" type="checkbox" id="public-edit" name="show-public">
            <h6 class="info">If you check this box, anyone may view this entry. Leave this box unchecked for this entry to be private!</h6>
        </div>
    </div>

    <button class="hover-bad" id="delete-entry">Delete This Entry Forever</button>

    <p id="entry-view-info"></p>

    <!-- hidden -->
    <input type="hidden" id="author" value="<%= user %>">
</div>