<article class="entry-card">
    <h3>Purple Gayze</h3>
    <h4>Krunk Kanna</h4>
    <hr>
    <div class="rating">
        <i class="fas fa-cannabis selected"></i>
        <i class="fas fa-cannabis selected"></i>
        <i class="fas fa-cannabis selected"></i>
        <i class="fas fa-cannabis"></i>
        <i class="fas fa-cannabis"></i>
    </div>
</article>