<div class="entry-view invisible">
    <div class="entry-line">
        <h6 id="author-read">Author: Author's Name</h6>

        <div class="read">
            <h2 id="title-read">Entry Name</h2>

            <hr>

            <h3 class="left">Product: </h3>
            <h3 class="right" id="product-read">Product Name</h3>

            <h3 class="left">Rating: </h3>
            <div class="rating right" id="rating-read">
    
            </div>

            <h3 class="left">Date of Experience: </h3>
            <h3 class="right" id="date-read"></h3>

            <h3 class="left">Content: </h3>
            <p class="right" id="content-read"></p>

            <h3 class="left">Visibility: </h3>
            <h3 class="right" id="public-read"></h3>

            <div class="foldable">
                <div class="foldable-header">
                    <i class="fas fa-chevron-circle-down"></i>
                    <h3>More Details</h3>
                </div>

                <div class="folder closed">
                    <h3 class="left">Time of Day: </h3>
                    <h3 class="right" id="time-of-day-read"></h3>
        
                    <h3 class="left">Product Type: </h3>
                    <h3 class="right" id="type-read"></h3>
        
                    <h3 class="left">Duration of Experience: </h3>
                    <h3 class="right" id="duration-read"></h3>
        
                    <h3 class="left">Quantity: </h3>
                    <h3 class="right" id="quantity-read"></h3>
        
                    <h3 class="left">Portion Size: </h3>
                    <h3 class="right" id="portion-read"></h3>
        
                    <h3 class="left">Price: </h3>
                    <h3 class="right" id="price-read"></h3>
        
                    <h3 class="left">Company: </h3>
                    <h3 class="right" id="company-read"></h3>
        
                    <h3 class="left">Purchased From: </h3>
                    <h3 class="right" id="store-read"></h3>
        
                    <h3 class="left">City: </h3>
                    <h3 class="right" id="city-read"></h3>
        
                    <h3 class="left">State: </h3>
                    <h3 class="right" id="state-read"></h3>
        
                    <h3 class="left">Country: </h3>
                    <h3 class="right" id="country-read"></h3>
        
                    <h3 class="left">Strain Type: </h3>
                    <h3 class="right" id="strain-type-read"></h3>
        
                    <h3 class="left">Strains: </h3>
                    <h3 class="right" id="strains-read"></h3>
        
                    <h3 class="left">THC: </h3>
                    <h3 class="right" id="thc-read"></h3>
        
                    <h3 class="left">THCA: </h3>
                    <h3 class="right" id="thca-read"></h3>
        
                    <h3 class="left">d8THC: </h3>
                    <h3 class="right" id="d8thc-read"></h3>
        
                    <h3 class="left">d9THC: </h3>
                    <h3 class="right" id="d9thc-read"></h3>
        
                    <h3 class="left">CBD: </h3>
                    <h3 class="right" id="cbd-read"></h3>
        
                    <h3 class="left">CBG: </h3>
                    <h3 class="right" id="cbg-read"></h3>
                </div>
            </div>
        </div>

        <div class="edit invisible">
            <h2 class="left">Title: </h2>
            <input class="right" type="text" name="title" id="title-edit" placeholder="Unnamed Entry">
            <hr>

            <h3 class="left">Product: </h3>
            <input class="right" type="text" name="product" id="product-edit" placeholder="Product Name">

            <h3 class="left">Rating: </h3>
            <div class="rating right" id="rating-edit">
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
                <i class="fas fa-cannabis"></i>
            </div>

            <h3 class="left">Date of Experience: </h3>
            <input class="right" type="date" name="dateOfExperience" id="date-edit" placeholder="Date of Experience">

            <h3 class="left">Content: </h3>
            <textarea class="right" name="content" id="content-edit" placeholder="Write about your experience here."></textarea>
        
            <h3 class="left">Public: </h3>
            <input class="right" type="checkbox" id="public-edit" name="show-public">
            <h6 class="info">If you check this box, anyone may view this entry. Leave this box unchecked for this entry to be private!</h6>
        
            <div class="foldable">
                <div class="foldable-header">
                    <i class="fas fa-chevron-circle-down"></i>
                    <h3>More Details</h3>
                </div>

                <div class="folder closed">
                    <h3 class="left">Time of Day: </h3>
                    <input class="right" type="text" name="time-of-day" id="time-of-day-edit">
        
                    <h3 class="left">Product Type: </h3>
                    <input class="right" type="text" name="type" id="type-edit">
        
                    <h3 class="left">Duration of Experience (Hours): </h3>
                    <input class="right" type="number" name="duration" id="duration-edit">
        
                    <h3 class="left">Quantity: </h3>
                    <input class="right" type="number" name="quantity" id="quantity-edit">
        
                    <h3 class="left">Portion Size (Grams): </h3>
                    <input class="right" type="number" name="portion" id="portion-edit">
        
                    <h3 class="left">Price (USD): </h3>
                    <input class="right" type="number" name="price" id="price-edit">
        
                    <h3 class="left">Company: </h3>
                    <input class="right" type="text" name="company" id="company-edit">
        
                    <h3 class="left">Purchased From: </h3>
                    <input class="right" type="text" name="store" id="store-edit">
        
                    <h3 class="left">City: </h3>
                    <input class="right" type="text" name="city" id="city-edit">
        
                    <h3 class="left">State: </h3>
                    <input class="right" type="text" name="state" id="state-edit">
        
                    <h3 class="left">Country: </h3>
                    <input class="right" type="text" name="country" id="country-edit">
        
                    <h3 class="left">Strain Type: </h3>
                    <input class="right" type="text" name="strain-type" id="strain-type-edit">
        
                    <h3 class="left">Strains: </h3>
                    <input class="right" type="text" name="strains" id="strains-edit">
        
                    <h3 class="left">THC (%): </h3>
                    <input class="right" type="number" name="thc" id="thc-edit">
        
                    <h3 class="left">THCA (%): </h3>
                    <input class="right" type="number" name="thca" id="thca-edit">
        
                    <h3 class="left">d8THC (%): </h3>
                    <input class="right" type="number" name="d8thc" id="d8thc-edit">
        
                    <h3 class="left">d9THC (%): </h3>
                    <input class="right" type="number" name="d9thc" id="d9thc-edit">
        
                    <h3 class="left">CBD (%): </h3>
                    <input class="right" type="number" name="cbd" id="cbd-edit">
        
                    <h3 class="left">CBG (%): </h3>
                    <input class="right" type="number" name="cbg" id="cbg-edit">
                </div>
            </div>
        </div>
    </div>

    <button class="hover-bad" id="delete-entry">Delete This Entry Forever</button>

    <p id="entry-view-info"></p>

    <!-- hidden -->
    <input type="hidden" id="author" value="<%= user %>">
</div>