<div class="entry-view invisible" id="entry-view-template">
    <h2>New Entry</h2>
    <div class="form-line">
        <p>Rating:</p>
        <div class="rating">
            <input type="hidden" id="rating" value="0">
            <i class="fas fa-cannabis"></i>
            <i class="fas fa-cannabis"></i>
            <i class="fas fa-cannabis"></i>
            <i class="fas fa-cannabis"></i>
            <i class="fas fa-cannabis"></i>
        </div>
    </div>
    <p>Content:</p>

    <!-- hidden -->
    <input type="hidden" id="author" value="<%= user %>">
</div>