<article class="entry-card invisible" id="entry-card-template">
    <h6>0/0/0</h6>
    <h3>Product Name</h3>
    <h4>Company Name</h4>
    <hr>

    <div class="rating">
        <i class="fas fa-cannabis"></i>
        <i class="fas fa-cannabis"></i>
        <i class="fas fa-cannabis"></i>
        <i class="fas fa-cannabis"></i>
        <i class="fas fa-cannabis"></i>
    </div>
</article>