:root {
    --altTextColor: rgb(238, 243, 229);
    --textColor: rgb(49, 51, 46);
    --bgColor: rgb(255, 255, 255);
    --focusColor: rgb(219, 149, 36);
    --accentColor: rgba(103, 128, 79, 0.466);
    --lighterAccentColor: rgb(84, 141, 62);
    --shadowColor: rgba(95, 95, 95, 0.534);
    --badColor: rgb(141, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--textColor);
}

body {
    background-color: var(--bgColor);
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: var(--focusColor);
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
}

header img {
    width: 64px;
}

header h1 {
    flex-grow: 10;
}

header a {
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
}

header a:hover {
    color: var(--altTextColor);
}

main {
    width: 100%;
    height: calc(100% - 64px);
    align-items: stretch;
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.button-holder {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--focusColor);
    box-shadow: 1px 1px 1px 1px var(--shadowColor);
    transition: all .20s ease;
    text-align: center;
}

button:hover {
    background-color: var(--lighterAccentColor);
    transform: scale(1.03);
    box-shadow: 1.5px 1.5px 1px 1px var(--shadowColor);
    transition: all .20s ease;
}

#cancel:hover {
    background-color: var(--badColor);
    transition: all .20s ease;
}

i {
    color: var(--bgColor);
    font-size: 30px;
}

#accept, #cancel {
    display: none;
}

.gallery {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-right: none;
    transition: all .5s ease;
}

.gallery-compact {
    width: 50%;
    transition: all .5s ease;
}

.side {
    background-color: var(--bgColor);
    border-left: 1px solid var(--accentColor);
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    padding: 20px;
    left: 100%;
    transition: all .5s ease;
}

.side-out {
    left: 50%;
    transition: all .5s ease;
}

form {
    padding: 10px;
}

form .form-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input {
    width: 80%;
    margin: 10px 0;
    padding: 20px;
    color: var(--altTextColor);
}

.entry-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.entry-card {
    width: 250px;
    height: 200px;
    background-color: var(--focusColor);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s ease;
}

.entry-card:hover {
    width: 250px;
    height: 200px;
    background-color: var(--focusColor);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1.05);
    transition: all .1s ease;
}

.entry-card h3{
    margin: 15px;
}

.entry-card h4{
    margin: 5px 15px;
}

.entry-card .rating{
    margin: 35px 15px;
}

.entry-card hr {
    border-top: none;
    border-bottom: 1px solid var(--textColor);
    margin-top: 15px;
}

.fa-cannabis {
    color: var(--accentColor);
}

.selected {
    color: var(--lighterAccentColor);
}

@media only screen and (max-width: 800px) {
    .gallery-compact {
        width: 100%;
    }

    .side {
        width: 100%;
    }

    .side-out {
        left: 0;
    }
}